@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100vh;
	max-height: -webkit-fill-available;
}

:root {
	--node-header-background-color: theme("colors.zinc.100");
	--node-header-background-gradient: linear-gradient(var(--node-header-background-color), var(--node-header-background-color));
	--header-bg-slate: theme("colors.slate.400")33;
	--header-bg-amber: theme("colors.amber.400")33;
	--header-bg-sky: theme("colors.sky.400")33;
	--header-bg-emerald: theme("colors.emerald.400")33;
	--header-bg-indigo: theme("colors.indigo.400")33;
	--header-bg-rose: theme("colors.rose.400")33;
	--header-bg-fuchsia: theme("colors.fuchsia.400")33;
}
:root.dark {
	--node-header-background-color: theme("colors.zinc.800");
	--header-bg-slate: theme("colors.slate.400")4d;
	--header-bg-amber: theme("colors.amber.400")4d;
	--header-bg-sky: theme("colors.sky.400")4d;
	--header-bg-emerald: theme("colors.emerald.400")4d;
	--header-bg-indigo: theme("colors.indigo.400")4d;
	--header-bg-rose: theme("colors.rose.400")4d;
	--header-bg-fuchsia: theme("colors.fuchsia.400")4d;
}
